[tool.poetry]
name = "workspace-flight-fusion"
version = "0.1.0"
description = ""
authors = ["Robert Pack <robstar.pack@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8"
dash = "^2.0.0"
grpcio-tools = "^1.42.0"
mkdocs = "^1.2.3"
openmetadata-ingestion = { version = ">=0.5", extras = ["docker"] }
betterproto = { version = "2.0.0b4", extras = ["compiler"] }
mkdocs-material = "^8.1.4"
mkautodoc = "^0.1.0"
dagster-fusion = { path = "python/dagster-fusion/", develop = true }

[tool.poetry.dev-dependencies]
bandit = "^1.7.0"
black = "^21.12b0"
flake8 = "^3.9.2"
isort = "^5.9.3"
ipykernel = "^6.4.2"
maturin = "^0.12"
pre-commit = "^2.15.0"
pytest = "^6.2.5"

[tool.black]
line-length = 100
target-version = ['py37']
include = '\.pyi?$'

[tool.isort]
profile = "black"
src_paths = ["python/**/*"]

[tool.pyright]
exclude = [
  "**/node_modules",
  "**/__pycache__",
  "src/experimental",
  "src/typestubs",
]
