[tool.poetry]
name = "workspace-flight-fusion"
version = "0.1.0"
description = ""
authors = ["Robert Pack <robstar.pack@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8"
maturin = "^0.12"
pandas = "^1.3.3"
pyarrow = ">=5"
dash = "^2.0.0"
SQLAlchemy = "^1.4.26"
scikit-learn = "^1.0.1"
flight-fusion = { path = "python/flight-fusion", develop = true }
mlflow = "^1.21.0"
grpcio-tools = "^1.42.0"
mypy-protobuf = "^3.0.0"
mkdocs = "^1.2.3"
openmetadata-ingestion = { version = ">=0.5", extras = ["docker"] }
acryl-datahub = "^0.8.20"
betterproto = { version = "2.0.0b4", extras = ["compiler"] }

[tool.poetry.dev-dependencies]
black = "^21.12b0"
flake8 = "^3.9.2"
isort = "^5.9.3"
bandit = "^1.7.0"
ipykernel = "^6.4.2"
pre-commit = "^2.15.0"
pytest = "^6.2.5"

[tool.black]
line-length = 100
target-version = ['py37']
include = '\.pyi?$'

[tool.isort]
profile = "black"
src_paths = ["python/flight-fusion"]

[tool.pyright]
exclude = [
  "**/node_modules",
  "**/__pycache__",
  "src/experimental",
  "src/typestubs",
]
# stubPath = "python/flight-fusion/stubs"
