[tool.poetry]
name = "workspace-flight-fusion"
version = "0.1.0"
description = ""
authors = ["Robert Pack <robstar.pack@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8,<3.11"

# pypi dependencies
grpcio-tools = "^1.42.0"
betterproto = { version = "2.0.0b4", extras = ["compiler"] }
dagit = "^0.14.8"
delta-spark = "^1.1.0"
mkdocs-protobuf = "^0.1"
mkdocs-techdocs-core = "^1"
pyspark = "^3.2.1"

# workspace dependencies
dagster-fusion = { path = "python/dagster-fusion/", develop = true }
flight-fusion = { path = "python/flight-fusion/", develop = true, extras = [
  "docker",
] }

# example projects
hacker-news = { path = "examples/hacker-news/", develop = true }
model-training = { path = "examples/model-training/", develop = true }

[tool.poetry.dev-dependencies]
bandit = "^1.7.0"
black = { version = "^22.3.0", extras = ["jupyter"] }
flake8 = "^3.9.2"
isort = "^5.9.3"
ipykernel = ">=6.4.2"
maturin = "^0.12"
pre-commit = "^2.15.0"
pytest = "^6.2.5"
pytest-cov = "^3"
pytest-datadir = "^1.3.1"
ipython = ">=8.0.1"
detect-secrets = "^1.2.0"

[tool.black]
line-length = 100
target-version = ['py37']
include = '\.pyi?$'

[tool.isort]
profile = "black"
src_paths = ["python/**/*"]

[tool.pyright]
exclude = ["**/node_modules", "**/__pycache__"]

[tool.pytest.ini_options]
markers = [
  "integration: marks tests as integration tests (deselect with '-m \"not integration\"')",
]
