[package]
name = "flight-fusion"
version = "0.1.0"
edition = "2021"

[dependencies]
# Workspace dependencies
arrow-deps = { path = "../arrow-deps/", features = ["delta"] }
flight-fusion-ipc = { path = "../flight-fusion-ipc" }
flight-fusion-client = { path = "../flight-fusion-client" }
object-store = { path = "../object-store" }
observability_deps = { path = "../observability-deps" }
# deltalake = { path = "../../../delta-rs/rust" }
# datafusion = { path = "../../../arrow-datafusion/datafusion" }

# Crates.io dependencies
arrow-flight = "6"
async-trait = "0.1"
bytes = "1"
chrono = "^0.4"
config = "0.11.0"
dotenv = "0.15"
futures = "^0.3"
lazy_static = "1.4.0"
# libc = "0.2.103"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1"
parquet-format = "*"
prost = "0.9"
# tokio = { version = "1", features = ["macros", "rt", "rt-multi-thread"] }
tokio = { version = "1", features = ["full"] }
tokio-stream = { version = "*", features = ["fs"] }
tokio-util = { version = "0.6.9", features = ["compat"] }
tonic = "0.5.2"
url = "^2.2"
uuid = "*"
# tonic-health = "0.5.0"
thiserror = "1"
log = "0.4"

tract-onnx = { version = "*", optional = true }
rand = { version = "*", optional = true }

[features]
onnx = ["tract-onnx", "rand"]

[dev-dependencies]
utime = "0.3"
serial_test = "0"
pretty_assertions = "1.0.0"
tempfile = "3"
tonic-build = "0.6.2"
rand = "*"

[[example]]
name = "onnx"
required-features = ["onnx"]
