[project]
name = "flight-fusion"
description = "Client to filight fusion service"
readme = "README.md"
license = { file = "LICENSE.txt" }
requires-python = ">=3.6"
keywords = ["deltalake", "delta", "arrow"]
classifiers = [
  "Development Status :: 3 - Alpha",
  "License :: OSI Approved :: Apache Software License",
  "Programming Language :: Python :: 3 :: Only",
]
dependencies = ["pyarrow>=4"]

[project.optional-dependencies]
devel = [
  "black",
  "isort",
  "pytest",
  "pytest-mock",
  "pytest-cov",
  "pytest-timeout",
  "toml",
  "pandas",
]

[project.urls]
repository = "https://github.com/roeap/flight-fusion"

[tool.poetry]
name = "flight-fusion"
version = "0.1.0"
description = ""
authors = ["Robert Pack <robstar.pack@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.7.1"
grpcio = "^1.42"
pandas = "^1.3.3"
pyarrow = ">=5"
SQLAlchemy = "^1.4.26"

[tool.poetry.dev-dependencies]
black = "^21.9b0"
flake8 = "^3.9.2"
isort = "^5.9.3"
bandit = "^1.7.0"
pre-commit = "^2.15.0"
pytest = "^6.2.5"

[tool.isort]
profile = "black"
src_paths = ["flight_fusion", "tests"]

[tool.pytest.ini_options]
addopts = "--cov=flight_fusion -v -m 'not integration'"
testpaths = ["tests"]
markers = [
  "integration: marks tests as integration tests (deselect with '-m \"not integration\"')",
  "azure: marks tests as integration tests with S3 (deselect with '-m \"not azure\"')",
]

[build-system]
requires = ["maturin>=0.11.5"]
build-backend = "maturin"
