[package]
name = "arrow-deps"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
# Crates.io dependencies
arrow-flight = "14"
parquet = { version = "13", features = ["async"] }
# Git dependencies
datafusion = { git = "https://github.com/apache/arrow-datafusion.git", rev = "f943b6a65291c3de6403dde827cb411a050f4fa0" }
datafusion-data-access = { git = "https://github.com/apache/arrow-datafusion.git", rev = "f943b6a65291c3de6403dde827cb411a050f4fa0" }
deltalake = { git = "https://github.com/delta-io/delta-rs", rev = "9216a8e2f068cba7c7a965f51ab608ee1f55d773", features = [
  "datafusion-ext",
], optional = true }

[features]
delta = ["deltalake"]
