[package]
name = "arrow-deps"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
# Crates.io dependencies
arrow-flight = "9"

# Git dependencies
datafusion = "7"
deltalake = { git = "https://github.com/roeap/delta-rs", branch = "delta-commands", features = [
  "datafusion-ext",
], optional = true }
# deltalake = { path = "../../../delta-rs/rust", optional = true, default-features = false, features = [
#   "datafusion-ext",
# ] }

[features]
delta = ["deltalake"]
