[package]
name = "arrow-deps"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
# Crates.io dependencies
arrow-flight = "6"

# Git dependencies
datafusion = { git = "https://github.com/apache/arrow-datafusion", rev = "06d147aace7a923752cef2fcf98f4732de31a6a6" }
deltalake = { git = "https://github.com/roeap/delta-rs", branch = "high-level-writer", features = [
  "datafusion-ext",
], optional = true }

[features]
delta = ["deltalake"]
