[package]
name = "arrow-deps"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
# Crates.io dependencies
arrow-flight = "18"
# parquet = { version = "18", features = ["async"] }
# Git dependencies
datafusion = { version = "10" }
deltalake = { git = "https://github.com/delta-io/delta-rs", rev = "b885b7daa778184c02fc9aacb916fd3f1188ffdc", features = [
  "datafusion-ext",
  "azure",
], optional = true }

[features]
delta = ["deltalake"]
